In [1]:
import lancedb

db = lancedb.connect("lance-data/lancedb/")

/Users/chris/repos/time-series-AI/venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
table_names = db.table_names()
print(table_names)

['time_series_windows']

In [3]:
table = db.open_table("time_series_windows")
table.schema

id: int64
symbol: string
timeframe: string
window_start: timestamp[ns]
window_end: timestamp[ns]
vector: fixed_size_list<item: float>[80]
  child 0, item: float
metadata: string

In [7]:
batch_size = 10
offset = 0
results = table.search().limit(batch_size).offset(offset).to_pandas()
results.head()

,id,symbol,timeframe,window_start,window_end,vector,metadata
0,0,SAMPLE,1day,2025-03-24 07:40:18.497411,2025-03-24 07:40:18.497462,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","{""sample"": true}"
1,0,AAPL,1day,2024-03-21 00:00:00.000000,2024-04-09 00:00:00.000000,"[-1.8119589, -1.8759751, -2.0171127, -2.059825...","{""symbol"": ""AAPL"", ""timeframe"": ""1day"", ""windo..."
2,1,AAPL,1day,2024-04-05 00:00:00.000000,2024-04-24 00:00:00.000000,"[-2.1319132, -2.1782522, -2.099234, -2.1363506...","{""symbol"": ""AAPL"", ""timeframe"": ""1day"", ""windo..."
3,2,AAPL,1day,2024-04-19 00:00:00.000000,2024-05-08 00:00:00.000000,"[-2.2768784, -2.348123, -2.310837, -2.3321533,...","{""symbol"": ""AAPL"", ""timeframe"": ""1day"", ""windo..."
4,3,AAPL,1day,2024-05-03 00:00:00.000000,2024-05-22 00:00:00.000000,"[-1.4002225, -1.471095, -1.5035287, -1.546377,...","{""symbol"": ""AAPL"", ""timeframe"": ""1day"", ""windo..."

In [6]:
# Load table data into Pandas DataFrame
data = table.to_pandas()

# Get distinct values from a column
distinct_values = data['symbol'].unique()
print(distinct_values)

['SAMPLE' 'AAPL']